@model List<Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İletişim</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">İletişim Bilgileri</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							İletişim ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Açık Adres</th>
									<th scope="col">Şehir</th>
									<th scope="col">Telefon</th>
									<th scope="col">e-Mail</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var item in Model)
								{
									<tr>
										<td>@item.ContactID</td>
										<td>@item.Address</td>
										<td>@item.City</td>
										<td>@item.Phone</td>
										<td>@item.Email</td>
										<td><a href="/Contact/UpdateContact/" class="btn btn-outline-info btn-round">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>